
arquivos/pose/body/mpi/pose_iter_160000.caffemodel
arquivos/pose/hand/pose_iter_102000.caffemodel
arquivos/pose.zip
arquivos/imagens.zip
AI gestos e ações/arquivos/imagens/.DS_Store
AI gestos e ações/arquivos/imagens/body/.DS_Store
AI gestos e ações/arquivos/imagens/body/multiple/multiple_1.jpeg
AI gestos e ações/arquivos/imagens/body/single/single_1.jpg
AI gestos e ações/arquivos/imagens/body/single/single_2.jpg
AI gestos e ações/arquivos/imagens/body/single/single_3.jpg
AI gestos e ações/arquivos/imagens/body/videos/original_3.mp4
AI gestos e ações/arquivos/imagens/body/videos/v1.mp4
AI gestos e ações/arquivos/imagens/body/videos/v3_erro.mp4
AI gestos e ações/arquivos/imagens/body/videos/v4.mp4
AI gestos e ações/arquivos/imagens/body/videos/v6.mp4
AI gestos e ações/arquivos/imagens/hand/1.jpg
AI gestos e ações/arquivos/imagens/hand/2.jpg
AI gestos e ações/arquivos/imagens/hand/2_2.jpg
AI gestos e ações/arquivos/imagens/hand/3.jpg
AI gestos e ações/arquivos/imagens/hand/erro_1.jpg
AI gestos e ações/arquivos/imagens/hand/front-back.jpg
AI gestos e ações/arquivos/imagens/hand/Libras/A.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/B.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/B2.jpg
AI gestos e ações/arquivos/imagens/hand/Libras/B3.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/B4.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/B4.png
AI gestos e ações/arquivos/imagens/hand/Libras/B5.jpg
AI gestos e ações/arquivos/imagens/hand/Libras/B6.jpg
AI gestos e ações/arquivos/imagens/hand/Libras/C.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/D.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/E.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/F.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/G.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/I.png
AI gestos e ações/arquivos/imagens/hand/Libras/I2.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/L.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/libras.mp4
AI gestos e ações/arquivos/imagens/hand/Libras/libras_2.mp4
AI gestos e ações/arquivos/imagens/hand/Libras/libras_3.mp4
AI gestos e ações/arquivos/imagens/hand/Libras/libras_4.mp4
AI gestos e ações/arquivos/imagens/hand/Libras/M.jpg
AI gestos e ações/arquivos/imagens/hand/Libras/N.png
AI gestos e ações/arquivos/imagens/hand/Libras/O.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/P2.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/Q.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/R.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/S.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/T.png
AI gestos e ações/arquivos/imagens/hand/Libras/U.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/V.JPG
AI gestos e ações/arquivos/imagens/hand/Libras/W.JPG
AI gestos e ações/arquivos/imagens/hand/m_1.jpg
AI gestos e ações/arquivos/imagens/hand/m_2.jpg
AI gestos e ações/arquivos/pose/.DS_Store
AI gestos e ações/arquivos/pose/body/.DS_Store
AI gestos e ações/arquivos/pose/body/coco/.gitattributes
AI gestos e ações/arquivos/pose/body/coco/multiple.prototxt
AI gestos e ações/arquivos/pose/body/coco/pose_deploy_linevec.prototxt
AI gestos e ações/arquivos/pose/body/coco/pose_iter_440000.caffemodel
AI gestos e ações/arquivos/pose/body/mpi/.gitattributes
AI gestos e ações/arquivos/pose/body/mpi/pose_deploy_linevec_faster_4_stages.prototxt
AI gestos e ações/arquivos/pose/body/mpi/pose_iter_160000.caffemodel
AI gestos e ações/arquivos/pose/hand/.gitattributes
AI gestos e ações/arquivos/pose/hand/pose_deploy.prototxt
AI gestos e ações/arquivos/pose/hand/pose_iter_102000.caffemodel
AI_gestos_e_ações/arquivos/pose/hand/pose_iter_102000.caffemodel
AI_gestos_e_ações/arquivos/pose/body/mpi/pose_iter_160000.caffemodel
AI_gestos_e_ações/arquivos/imagens/.DS_Store
AI_gestos_e_ações/arquivos/imagens/body/.DS_Store
AI_gestos_e_ações/arquivos/imagens/body/multiple/multiple_1.jpeg
AI_gestos_e_ações/arquivos/imagens/body/single/single_1.jpg
AI_gestos_e_ações/arquivos/imagens/body/single/single_2.jpg
AI_gestos_e_ações/arquivos/imagens/body/single/single_3.jpg
AI_gestos_e_ações/arquivos/imagens/body/videos/original_3.mp4
AI_gestos_e_ações/arquivos/imagens/body/videos/v1.mp4
AI_gestos_e_ações/arquivos/imagens/body/videos/v3_erro.mp4
AI_gestos_e_ações/arquivos/imagens/body/videos/v4.mp4
AI_gestos_e_ações/arquivos/imagens/body/videos/v6.mp4
AI_gestos_e_ações/arquivos/imagens/hand/1.jpg
AI_gestos_e_ações/arquivos/imagens/hand/2.jpg
AI_gestos_e_ações/arquivos/imagens/hand/2_2.jpg
AI_gestos_e_ações/arquivos/imagens/hand/3.jpg
AI_gestos_e_ações/arquivos/imagens/hand/erro_1.jpg
AI_gestos_e_ações/arquivos/imagens/hand/front-back.jpg
AI_gestos_e_ações/arquivos/imagens/hand/Libras/A.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/B.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/B2.jpg
AI_gestos_e_ações/arquivos/imagens/hand/Libras/B3.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/B4.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/B4.png
AI_gestos_e_ações/arquivos/imagens/hand/Libras/B5.jpg
AI_gestos_e_ações/arquivos/imagens/hand/Libras/B6.jpg
AI_gestos_e_ações/arquivos/imagens/hand/Libras/C.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/D.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/E.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/F.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/G.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/I.png
AI_gestos_e_ações/arquivos/imagens/hand/Libras/I2.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/L.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/libras.mp4
AI_gestos_e_ações/arquivos/imagens/hand/Libras/libras_2.mp4
AI_gestos_e_ações/arquivos/imagens/hand/Libras/libras_3.mp4
AI_gestos_e_ações/arquivos/imagens/hand/Libras/libras_4.mp4
AI_gestos_e_ações/arquivos/imagens/hand/Libras/M.jpg
AI_gestos_e_ações/arquivos/imagens/hand/Libras/N.png
AI_gestos_e_ações/arquivos/imagens/hand/Libras/O.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/P2.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/Q.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/R.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/S.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/T.png
AI_gestos_e_ações/arquivos/imagens/hand/Libras/U.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/V.JPG
AI_gestos_e_ações/arquivos/imagens/hand/Libras/W.JPG
AI_gestos_e_ações/arquivos/imagens/hand/m_1.jpg
AI_gestos_e_ações/arquivos/imagens/hand/m_2.jpg
AI_gestos_e_ações/arquivos/pose/.DS_Store
AI_gestos_e_ações/arquivos/pose/body/.DS_Store
AI_gestos_e_ações/arquivos/pose/body/coco/.gitattributes
AI_gestos_e_ações/arquivos/pose/body/coco/multiple.prototxt
AI_gestos_e_ações/arquivos/pose/body/coco/pose_deploy_linevec.prototxt
AI_gestos_e_ações/arquivos/pose/body/coco/pose_iter_440000.caffemodel
AI_gestos_e_ações/arquivos/pose/body/mpi/.gitattributes
AI_gestos_e_ações/arquivos/pose/body/mpi/pose_deploy_linevec_faster_4_stages.prototxt
AI_gestos_e_ações/arquivos/pose/hand/.gitattributes
AI_gestos_e_ações/arquivos/pose/hand/pose_deploy.prototxt
